.center-align {
    text-align: center;
}
.table {
    width: 100%;
    margin-left: 10px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 1px solid #000000;
}
.table-cell {
    width: 15px;
    max-width: 30px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 1px solid #575757;
}
.stocks-block {

}
.stocks-name-row {
    margin-bottom: 4px;
    display: flex;
}
/*.rt-resizable-header,.rt-td{
    min-width: 150px !important;
}*/
.cell {
    
    font-size: 14px;
    padding: 5px 5px;
    line-height: normal;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.cell-cent {
    font-size: 14px;
    padding: 5px 5px;
    line-height: normal;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    text-align: center;
}
.cell-cent-green {
    background-color: rgba(0, 255, 25, 0.26);
    font-size: 14px;
    padding: 5px 5px;
    line-height: normal;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    text-align: center;
}
.cell-cent-red {
    background-color: rgba(255, 0, 16, 0.26);
    font-size: 14px;
    padding: 5px 5px;
    line-height: normal;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    text-align: center;
}
.clock_and_name{
    font-size: 20px;
    background-color: #eef6db;
    padding-top: 10px;
    justify-content: space-between;
    margin: auto;
    flex-direction: row;
    display: flex;
}
.CenterName{
    display: flex;
    /*margin-right: 5%;*/
}
.RightName{
    display: flex;
    /*margin-right: 10%;*/
}
.hoverbox {
    font-size: 14px;
    background-color: white;
    padding: 18px;
    -webkit-box-shadow: 2px 2px 17px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 2px 2px 17px 0px rgba(0,0,0,0.34);
    box-shadow: 2px 2px 17px 0px rgba(0,0,0,0.34);
}
.inline {
    display: flex;
    justify-content: space-between
}
.prev {
    font-size: 10px;
}