.spinner{
    margin-bottom: 5px;
    margin-left: 30px;
    background-color: transparent;
    position: relative;
}
@keyframes up {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-12px);
        background-color: darkgrey;
    }
    100% {
        transform: translateY(0);
    }
}
.spinner > span{
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #c4c4c4;
    animation: up 1s linear;
    animation-iteration-count: 10;

}
.spinner > span:nth-child(2){
    left: 20px;
    animation-delay: 0.2s;
}
.spinner > span:nth-child(3){
    left: 40px;
    animation-delay: 0.4s;
}