.header{
    width: 100%;
    height: auto;
    display: block;
    background-color: white;
}
.top-part{
    width: 100%;
    display: inline-flex;
}
.time{
    margin-left: 40%;
    margin-right: auto;
    width: 300px;
    font-style: normal;
}
.search-button{
    width: 60px;
    height: 25px;
    margin-right: 10%;
    margin-top: 15px;
}
.bot-part{
    display: block;
    width: 100%;
    background-color: grey;
}
.button-container{
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
button{
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: white;
}

.content-window{
    width: 100%;
}
.content-block{
    display: block;
    width: 100%;
}
.top-content{
    margin-left: 2%;
    width: 96%;
    display: inline-flex;
    justify-content: center;
}
.main-content{

}
.time-line{
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    display: inline-flex;
    justify-content: space-between;
}
.time-cont{
    text-align: center;
    width: 80px;
    padding: 4px;
    border: 1px solid black;
}
.content-line{
    display: inline-flex;
    justify-content: space-between;
    width: 96%;
    margin-top: 5px;
    margin-left: 2%;
    margin-right: 2%;
}
.info{
    width: 88px;
    border: 1px solid black;
    text-align: center;
}
p{
    padding-top: 4px;
    width: 100%;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}
.info-class{
    height: 22px;
    border-bottom:1px solid black;
}
.content-tab{
    display: inline-flex;
    width: 80px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: grey;
    border: 1px solid white;
    text-align: left;
}
.class{
    height: 22px;
    padding-left: 4px;
    padding-right: 4px;
    width: 100%;
    border-bottom: 1px solid white;
}
.main-procent{
    border-left: 2px solid white ;
}
.time-head{
    padding-right: 10px;
    margin-left: 10px;
}